.canvas-wrapper {
  margin: 28px 0;
  border: solid 1px black;
}

#main-canvas {
  width: 100%;
  height: auto;
  display: block;
  background-image: url('../../assets/BW-field.jpg');
  margin: 0 auto;
  background-size: cover;
  cursor: crosshair;

}